@import '../../../../assets/style/mixin';

.PizzaBox{
    width:280px;
    height:300px;
    position: absolute;
    right:0;
    bottom:0;
    top:0;
    margin: auto;
    background-color: #FFF;
    @include box-shadow(3);
    text-transform: capitalize;
    transition:.3s linear;
    z-index: 10;


    .PizzaSize{
        width:250px;
        height:35px;
        line-height:35px;
        margin-top:5px;
        border:1px dashed #DDD;
       
        color: #FFF;
        padding: 2px;
        color: #333;
        padding: 2px;
    }
    .PizzaBorder{
        width:250px;
        height:35px;
        line-height:35px;
        margin-top:5px;
        border:1px dashed #DDD;
       
        color: #FFF;
        padding: 2px;
        color: #333;
        padding: 2px;
    }
    .PizzaWeight{
        width:250px;
        height:35px;
        line-height:35px;
        margin-top:5px;
        border:1px dashed #DDD;
       
        color: #FFF;
        padding: 2px;
        color: #333;
        padding: 2px;
    }
    .PizzaIngr{
        width:250px;
        height:35px;
        line-height:35px;
        margin-top:5px;
        border:1px dashed #DDD;

        color: #333;
        padding: 2px;
    }

    .PizzaPrice{
        width:200px;
        height:25px;
        line-height:25px;
        margin-top:5px;
        border:1px dashed #DDD;
   
        color: #333;
        padding: 2px;
    }
}

.ActiveBox{
    // transform: translate(-100%,0);
    // transition: .4s ease-in;
}

